MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=taipei_hotel
ADMIN_PASSWORD=請換成至少12字元的強密碼
SESSION_SECRET=請使用至少32字元的隨機字串
ALLOWED_ORIGIN=http://localhost:3000
PORT=3000

